.App {
  text-align: center;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.weather-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

.light-mode {
  background-color: #ffffff;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #ffffff;
}
